<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Swagger Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">


  <!--<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
  <link th:href="@{/tree/css/jquerysctipttop.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" th:href="@{/tree/css/highCheckTree.css}"/>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top" th:replace="fragment/navbar :: navbar">

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" th:replace="fragment/sidebar :: sidebar">

    </ul>

    <div id="content-wrapper" >

      <div class="container-fluid" layout:fragment="content">

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer" th:replace="fragment/footer :: footer">

      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Page level plugin JavaScript-->
  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
  <script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
  <script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/js/sb-admin.min.js}"></script>

  <!-- Demo scripts for this page-->
  <script th:src="@{/js/demo/datatables-demo.js}"></script>
  <script th:src="@{/js/demo/chart-area-demo.js}"></script>

  <section layout:fragment="body-end">
    <!--
        End Body
    -->
  </section>

</body>

</html>
