<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<body >

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav" th:fragment="sidebar">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/project/list}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Data Project</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/project/progress/list}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Progress Project</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/invoice/list}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Invoice</span>
        </a>
      </li>
      <div sec:authorize="hasRole('ROLE_SA')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <span class="text-wrap" style="width: 1rem;">User Management</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <a class="dropdown-item" th:href="@{/employee/list}">Karyawan</a>
            <a class="dropdown-item" th:href="@{/position/list}">Jabatan</a>
          </div>
        </li>
      </div>
    </ul>
    <!-- /.content-wrapper -->

</body>

</html>
