<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!--start-wrap--->
<div class="wrap">
  <!--start-header---->
  <div class="header">
    <div class="logo">
      <h1><a href="#">Ohh</a></h1>
    </div>
  </div>
  <!--End-header---->
  <!--start-content------>
  <div class="content">
    <img th:src="@{/img/error-img.png}" title="error" />
    <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
    <div class="copy-right">
      <p>&copy; <script type="text/javascript">
          document.write(new Date().getFullYear());
      </script> Ohh. All Rights Reserved</p>
    </div>
  </div>
  <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
</html>