<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<!--start-wrap--->
<div class="wrap">
  <!--start-header---->
  <div class="header">
    <div class="logo">
      <h1><a href="#">Ohh</a></h1>
    </div>
  </div>
  <!--End-header---->
  <!--start-content------>
  <div class="content">
    <img th:src="@{/img/error500.png}" title="error" />
    <a class="btn btn-success btn-sm text-white" th:href="@{/logout}" >Logout</a>
    <div class="copy-right">
      <p>&copy; <script type="text/javascript">
          document.write(new Date().getFullYear());
      </script> Ohh. All Rights Reserved</p>
    </div>
  </div>
  <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
</html>