<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Project Data</a>
                </li>
                <li class="breadcrumb-item active">Invoice List</li>
                <li class="breadcrumb-item active">Confirm</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Confirm Payment
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${confirmPaymentAddForm}" method="post" enctype="multipart/form-data" >
                        <input type="hidden" th:field="*{idInvoice}" />
                        <div class="form-group">
                            <label for="journal">Journal</label>
                            <span th:if="${#fields.hasErrors('journal')}" th:errors="*{journal}">Journal Error</span>
                            <select class="form-control" name="journal" id="journal" th:field="*{journal}">
                                <option th:each="journal : ${journals}" th:value="${journal}" th:text="${journal}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="receipent">Receipent Bank Account</label>
                            <span th:if="${#fields.hasErrors('receipent')}" th:errors="*{receipent}">Receipent Bank Account Mulai Error</span>
                            <input type="text" class="form-control" id="receipent" th:field="*{receipent}" maxlength="30" required/>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" id="amount" th:field="*{amount}" readonly></input>
                        </div>
                        <div class="form-group">
                            <label for="paymentDate">Payment Date</label>
                            <span th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}">Payment Date Error</span>
                            <input type="date" class="form-control" id="paymentDate" th:field="*{paymentDate}" required/>
                        </div>
                        <div class="form-group">
                            <label for="invoiceNo">Invoice No</label>
                            <input type="text" class="form-control" id="invoiceNo" th:field="*{invoiceNo}" readonly></input>
                        </div>
                        <!--<div class="form-group">
                            <label for="linkStruk">Bukti Transfer</label>
                            <input type="text" class="form-control" id="linkStruk" th:field="*{linkStruk}" placeholder="Masukan link bukti pembayaran: https://drive.google.com/file/bukti_transfer.pdf"></input>
                        </div>-->
                        <div class="form-group">
                            <label for="strukFile">Bukti Transfer</label>
                            <div th:if="${strukFileName != null}" >
                                <a th:href="@{'/confirm-payment/downloadfile?id=' + ${confirmPaymentAddForm.id}}"><span th:text="${strukFileName}"></span><i class="fa fa-download"></i></a>
                            </div>
                            <input id="strukFile" type="file" name="file" class="form-control-file" th:field="*{strukFile}" />
                        </div>
                        <div>
                            <button sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')" type="submit" class="btn btn-primary mb-2" th:if="${invoiceStatus != 'PAID'}">Confirm</button>
                            <a class="btn btn-info mb-2" href="/invoice/list/" th:href="@{/invoice/list}"  th:if="${invoiceStatus != 'PAID'}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
