<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Employee</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Update Position
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${employeeUpdateForm}" method="post">
                        <input type="hidden" class="form-control" id="id" th:field="*{id}" />
                        <div class="form-group">
                            <label for="nip">Nip</label>
                            <span th:if="${#fields.hasErrors('nip')}" th:errors="*{nip}">Nip Error</span>
                            <input type="text" class="form-control" id="nip" th:field="*{nip}" maxlength="12" required/>
                        </div>
                        <div class="form-group">
                            <label for="name">Nama</label>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Nama Error</span>
                            <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="50" required/>
                        </div>
                        <div class="form-group">
                            <label for="positionId">Jabatan</label>
                            <span th:if="${#fields.hasErrors('positionId')}" th:errors="*{positionId}">Jabatan Error</span>
                            <select class="form-control" name="positionId" id="positionId" th:field="*{positionId}">
                                <option th:each="position : ${positionList}" th:value="${position.id}"
                                        th:selected="(${position.id} == *{positionId})"
                                        th:text="${position.title}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                            <input type="text" class="form-control" id="password" th:field="*{password}" required/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" href="/employee/list/" th:href="@{/employee/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
