<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Employee</li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 pull-right">
                <div class="card-header pull-right">
                    <div class="pull-right">
                        <a class="btn btn-success" th:href="@{/employee/add}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="employeeList" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Nip</th>
                                    <th class="text-center">Nama</th>
                                    <th class="text-center">Jabatan</th>
                                    <th class="text-center">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

<section layout:fragment="body-end">

    <script th:inline="javascript">
        var employee_url_api = /*[[@{/api/employee/list}]]*/ '';
        var employee_url = /*[[@{/employee}]]*/ '';
        $(document).ready(function () {
            $('#employeeList').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,
                'paging': true,
                'lengthChange': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "ajax": {

                    "url": employee_url_api,
                    "type": "GET",
                    "contentType": "application/json",
                    "data": function (d) {
                        d.datatables = true;
                    }
                },
                "columns": [
                    {"data": "nip", "defaultContent": ""},
                    {"data": "name", "defaultContent": ""},
                    {"data": "position.title", "defaultContent": ""},
                    {"data": "id"}
                ],
                "columnDefs": [
                    {
                        "targets": 3,
                        "data": "id",
                        "mRender": function (data, type, row) {
                            html = "";

                            html += '<a class="btn btn-info" href="' + employee_url + '/update/' + row.id + '"><i class="fas fa-edit"></a>';
                            return html;
                        }
                    }

                ]
            });
        });
    </script>
</section>

</body>

</html>
