<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Invoice Item</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Update Invoice Item
                </div>
                <div class="card-body">
                    <div th:if="${errorMessage} != null" class="alert alert-danger" role="alert">
                        <label th:text="${errorMessage}"></label>
                    </div>
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${invoiceItemUpdateForm}" method="post">
                        <input type="hidden" class="form-control" id="id" th:field="*{id}" />
                        <input type="hidden" class="form-control" id="id" th:field="*{idInvoice}" />
                        <div class="form-group">
                            <label for="deskripsi">Deskripsi</label>
                            <span th:if="${#fields.hasErrors('deskripsi')}" th:errors="*{deskripsi}">Deskripsi Error</span>
                            <textarea type="text" class="form-control" id="deskripsi" th:field="*{deskripsi}" required/>
                        </div>
                        <div class="form-group">
                            <label for="volume">Quantity</label>
                            <span th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}">Quantity Error</span>
                            <input type="number" class="form-control" id="volume" th:field="*{volume}" required/>
                        </div>
                        <div class="form-group">
                            <label for="satuan">UoM</label>
                            <span th:if="${#fields.hasErrors('satuan')}" th:errors="*{satuan}">UoM Error</span>
                            <input type="text" class="form-control" id="satuan" th:field="*{satuan}" maxlength="10" required/>
                        </div>
                        <div class="form-group">
                            <label for="hargasatuan">Price Satuan</label>
                            <span th:if="${#fields.hasErrors('hargasatuan')}" th:errors="*{hargasatuan}">Price Satuan Error</span>
                            <input type="number" class="form-control" id="hargasatuan" th:field="*{hargasatuan}" required/>
                        </div>
                        <!--<div class="form-group">
                            <label for="hargajumlah">Harga Jumlah</label>
                            <span th:if="${#fields.hasErrors('hargajumlah')}" th:errors="*{hargajumlah}">Harga Jumlah Error</span>
                            <input type="number" class="form-control" id="hargajumlah" th:field="*{hargajumlah}" required/>
                        </div>-->
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" th:href="@{'/invoice/update/' + ${idInvoice}}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
