<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Invoice</li>
            </ol>
            <!-- Print Example -->
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="reportInvoiceStartDate">Tanggal Mulai Laporan</label>
                                <input type="date" class="form-control" id="reportInvoiceStartDate" >
                            </div>
                            <div class="form-group col-md-6">
                                <label for="reportInvoiceEndDate">Tanggal Akhir Laporan</label>
                                <input type="date" class="form-control" id="reportInvoiceEndDate" >
                            </div>
                        </div>
                        <button type="button" id="btnFilterInvoice" class="btn btn-info"><i class="fas fa-search"></i> Filter</button>
                        <button type="button" id="btnCetakInvoice" class="btn btn-warning"><i class="fas fa-print"></i> Cetak</button>
                    </form>
                </div>
            </div>

            <!-- DataTables Example -->
            <div class="card">
                <div class="card-header pull-right">
                    <div class="pull-right">
                        <a class="btn btn-success" th:href="@{/invoice/add}"
                           sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')">
                            <i class="fas fa-plus"></i> Create
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="invoiceList" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th class="text-center">Nama Project</th>
                                <th class="text-center">SPK</th>
                                <th class="text-center">BAP</th>
                                <th class="text-center">Skema</th>
                                <th class="text-center">No Invoice</th>
                                <th class="text-center">Tanggal Invoice</th>
                                <th class="text-center">Total Invoice</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Aksi</th>
                                <th class="text-center">Payment</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

<section layout:fragment="body-end">

    <script th:inline="javascript">
        var btnCetakInvoice = document.getElementById("btnCetakInvoice");
        btnCetakInvoice.addEventListener("click", () => {
            var startDate = document.getElementById("reportInvoiceStartDate").value;
            var endDate = document.getElementById("reportInvoiceEndDate").value;
            var invoice_report_url_api = /*[[@{/api/invoice/list/report}]]*/ '';
            fetch(invoice_report_url_api + '?startDate=' + startDate +"&"+ 'endDate=' + endDate )
                .then( res => res.blob() )
                .then( blob => {
                    var file = window.URL.createObjectURL(blob);
                    // window.location.assign(file);
                    var a = document.createElement('a');
                    a.href = file;
                    a.download = "invoice_report"+startDate+".pdf";
                    document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
                    a.click();
                    a.remove();  //afterwards we remove the element again
                });
        });
    </script>

    <script th:inline="javascript">
        $(document).ready(function () {
            getDataTable();
        });

        function getDataTable(startDate,endDate) {
            var invoice_url_api = /*[[@{/api/invoice/list?}]]*/ '';
            var invoice_url = /*[[@{/invoice}]]*/ '';
            var confirm_payment_url = /*[[@{/confirm-payment/invoice}]]*/ '';
            var invoiceTable = $('#invoiceList').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,
                'paging': true,
                'lengthChange': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "ajax": {

                    "url": invoice_url_api,
                    "type": "GET",
                    "contentType": "application/json",
                    "data": function (d) {

                        var startDate = document.getElementById("reportInvoiceStartDate").value;
                        var endDate = document.getElementById("reportInvoiceEndDate").value;
                        if (startDate) {
                            d.startDate=startDate;
                        }
                        if (startDate && endDate) {
                            d.endDate=endDate;
                        } else if (!startDate && endDate) {
                            d.endDate=endDate;
                        }
                        d.datatables = true;
                    }
                },
                "columns": [
                    {"data": "project.title", "defaultContent": ""},
                    {"data": "project.nospk", "defaultContent": ""},
                    {"data": "project.bap", "defaultContent": ""},
                    {"data": "skema", "defaultContent": ""},
                    {"data": "noInvoice", "defaultContent": ""},
                    {"data": "invoiceDate", "defaultContent": ""},
                    {"data": "grandtotal", "defaultContent": ""},
                    {"data": "status", "defaultContent": ""},
                    {"data": "id"},
                    {"data": "id"}
                ],
                "columnDefs": [
                    {
                        "targets": 8,
                        "data": "id",
                        "mRender": function (data, type, row) {
                            html = "";

                            html += '<a class="btn btn-info" href="' + invoice_url + '/update/' + row.id + '"><i class="fas fa-edit"></i></a>';
                            html += '<a class="btn btn-info" href="' + invoice_url + '/print/' + row.id + '"><i class="fas fa-print"></i></a>';
                            return html;
                        }
                    },
                    {
                        "targets": 9,
                        "data": "id",
                        "mRender": function (data, type, row) {
                            console.log(row.status);
                            html = "";
                            if (row.status != 'PAID') {
                                html += '<a class="btn btn-success" href="' + confirm_payment_url + '/' + row.id + '"><i class="fas fa-dollar"></i>Confirm</a>';
                            } else {
                                html += '<a class="btn btn-success" href="' + confirm_payment_url + '/' + row.id + '"><i class="fas fa-info"></i></a>';
                            }
                            return html;
                        }
                    }

                ]
            });

            var btnFilterInvoice = document.getElementById("btnFilterInvoice");
            btnFilterInvoice.addEventListener("click", () => {
                console.log('dataTable');
                invoiceTable.draw();
            });
        }

    </script>
</section>

</body>

</html>
