<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Invoice</li>
                <li class="breadcrumb-item active">Create</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Create Invoice
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${invoiceAddForm}" method="post">
                        <div class="form-group">
                            <label for="idProject">Project</label>
                            <span th:if="${#fields.hasErrors('idProject')}" th:errors="*{idProject}">Project Error</span>
                            <select class="form-control" name="idProject" id="idProject" th:field="*{idProject}">
                                <option th:each="project : ${projectList}" th:value="${project.id}" th:text="${project.noProject} +' - '+${project.title}+' - (RP. '+${#numbers.formatDecimal(project.harga, 1, 'DEFAULT', 2, 'DEFAULT')} + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="noInvoice">NO Invoice</label>
                            <input type="text" class="form-control" id="noInvoice" th:field="*{noInvoice}" maxlength="20" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="invoiceDate">Tanggal Invoice</label>
                            <span th:if="${#fields.hasErrors('invoiceDate')}" th:errors="*{invoiceDate}">Tanggal Mulai Error</span>
                            <input type="date" class="form-control" id="invoiceDate" th:field="*{invoiceDate}" required/>
                        </div>
                        <div class="form-group">
                            <label for="address">Delivery Address</label>
                            <textarea class="form-control" rows="5" th:field="*{address}" id="address" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="skema">Skema Pembayaran</label>
                            <select class="form-control" name="skema" id="skema" th:field="*{skema}">
                                <option th:each="skm : ${invoiceSkema}" th:value="${skm}" th:text="${skm}">
                                </option>
                            </select>
<!--                            <input type="text" class="form-control" id="skema" th:field="*{skema}" placeholder="DP/Termin/Full" maxlength="10" required/>-->
                        </div>
                        <div class="form-group">
                            <label for="percent">Persentase</label>
                            <input type="number" class="form-control" id="percent" th:field="*{percent}" required/>
                        </div>
                        <div class="form-group">
                            <label for="ppn">Taxes 11%</label>
                            <input type="number" class="form-control" rows="5" th:field="*{ppn}" id="ppn">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</span>
                            <select class="form-control" name="status" id="status" th:field="*{status}">
                                <option th:each="invoice : ${invoiceStatus}" th:value="${invoice}" th:text="${invoice}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Draft</button>
                            <a class="btn btn-info mb-2" href="/invoice/list/" th:href="@{/invoice/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
