<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Project Data</a>
                </li>
                <li class="breadcrumb-item active">Invoice List</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Update Invoice
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${invoiceUpdateForm}" method="post">
                        <input type="hidden" class="form-control" id="id" th:field="*{id}"/>
                        <div class="form-group">
                            <label for="idProject">Project</label>
                            <span th:if="${#fields.hasErrors('idProject')}" th:errors="*{idProject}">Project Error</span>
                            <select class="form-control" name="idProject" id="idProject" th:field="*{idProject}">
                                <option th:each="project : ${projectList}" th:value="${project.id}" th:text="${project.noProject} +' - '+${project.title}+' - (RP. '+${#numbers.formatDecimal(project.harga, 1, 'DEFAULT', 2, 'DEFAULT')} + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="noInvoice">NO Invoice</label>
                            <input type="text" class="form-control" id="noInvoice" th:field="*{noInvoice}" maxlength="20" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="invoiceDate">Tanggal Invoice</label>
                            <span th:if="${#fields.hasErrors('invoiceDate')}" th:errors="*{invoiceDate}">Tanggal Mulai Error</span>
                            <input type="date" class="form-control" id="invoiceDate" th:field="*{invoiceDate}" required/>
                        </div>
                        <div class="form-group">
                            <label for="address">Delivery Address</label>
                            <textarea class="form-control" rows="5" th:field="*{address}" id="address" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="skema">Skema Pembayaran</label>
                            <select class="form-control" name="skema" id="skema" th:field="*{skema}">
                                <option th:each="skm : ${invoiceSkema}" th:value="${skm}" th:text="${skm}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="percent">Persentase (%)</label>
                            <input type="number" class="form-control" id="percent" th:field="*{percent}" required/>
                        </div>
                        <div class="form-group">
                            <label for="harga">Harga</label>
                            <input type="number" class="form-control" id="harga" th:field="*{harga}" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="ppn">Taxes 11%</label>
                            <input type="number" class="form-control" rows="5" th:field="*{ppn}" id="ppn">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</span>
                            <select class="form-control" name="status" id="status" th:field="*{status}">
                                <option th:each="invoice : ${invoiceStatus}" th:value="${invoice}" th:text="${invoice}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <button sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')" type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" href="/invoice/list/" th:href="@{/invoice/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header pull-right">
                    <div class="pull-right">
                        <a sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')" class="btn btn-success" th:href="@{'/invoice-item/add/invoice/' + ${invoiceUpdateForm.id}}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Deskripsi</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">UoM</th>
                            <th scope="col">Price</th>
                            <th scope="col">Subtotal</th>
                            <th sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')" scope="col">Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${invoiceItemList.empty}">
                                <td colspan="2"> No Books Available </td>
                            </tr>
                            <tr th:each="invoiceItem,iter : ${invoiceItemList}">
                                <td><span th:text="${invoiceItem.deskripsi}"> Deskripsi </span></td>
                                <td><span th:text="${invoiceItem.volume}"> Quantity </span></td>
                                <td><span th:text="${invoiceItem.satuan}"> UoM </span></td>
                                <td><span th:text="${invoiceItem.hargasatuan}"> Harga Satuan </span></td>
                                <td><span th:text="${invoiceItem.hargajumlah}"> Harga Jumlah </span></td>
                                <td sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_FINANCE')">
                                    <a class="btn btn-info" th:href="@{'/invoice-item/update/' + ${invoiceItem.id}}"><i class="fas fa-edit" > </i></a>
                                    <a class="btn btn-danger" th:href="@{'/invoice-item/delete/' + ${invoiceItem.id}}"><i class="fas fa-trash" > </i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
