<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin.css}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <div class="justify-content-center text-center">
          <img th:src="@{/img/logo.png}" width="100" height="100" class="d-inline-block align-top" alt="">
          <h5>Sistem Informasi Dokumen Kontrol Project</h5>
          <h5>PT. Alfatama Sukses Cipta</h5>
        </div>
        <form th:action="@{/login}" method="post" >
          <div th:if="${param.error}" class="alert alert-error">
            <label class="text-danger" th:text="${session.loginErrorMessage}" ></label>
          </div>
          <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" />
              <label for="username">NIP</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required" />
              <label for="password">Password</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
          <!--<a class="btn btn-primary btn-block" th:href="@{/backoffice/dashboard}">Login</a>-->
        </form>
        <!--<div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>-->
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>

</html>
