<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Position</li>
                <li class="breadcrumb-item active">Add</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Add Position
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${positionAddForm}" method="post">
                        <div class="form-group">
                            <label for="name">Jabatan</label>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Jabatan Error</span>
                            <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="50" required/>
                        </div>
                        <div class="form-group">
                            <label for="title">Judul Jabatan</label>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Judul Jabatan Error</span>
                            <input type="text" class="form-control" id="title" th:field="*{title}" maxlength="50" required/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" href="/position/list/" th:href="@{/position/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
