<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Projek Data</a>
                </li>
                <li class="breadcrumb-item active">Project List</li>
                <li class="breadcrumb-item active">Add</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Add Project
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${projectAddForm}" method="post" enctype="multipart/form-data" >
                        <div class="form-group">
                            <label for="noProject">No Project</label>
                            <span th:if="${#fields.hasErrors('noProject')}" th:errors="*{noProject}">No Project Error</span>
                            <input type="text" class="form-control" id="noProject" th:field="*{noProject}" maxlength="10" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="title">Nama Project</label>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Nama Project Error</span>
                            <input type="text" class="form-control" id="title" th:field="*{title}" maxlength="100" required/>
                        </div>
                        <div class="form-group">
                            <label for="client">Klien</label>
                            <span th:if="${#fields.hasErrors('client')}" th:errors="*{client}">Klien Error</span>
                            <input type="text" class="form-control" id="client" th:field="*{client}" maxlength="50" required/>
                        </div>
                        <div class="form-group">
                            <label for="location">Alamat</label>
                            <textarea class="form-control" rows="5" th:field="*{location}" id="location" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pic">PIC</label>
                            <span th:if="${#fields.hasErrors('pic')}" th:errors="*{pic}">PIC Error</span>
                            <input type="text" class="form-control" id="pic" th:field="*{pic}" maxlength="20" required/>
                        </div>
                        <div class="form-group">
                            <label for="nospk">NO SPK</label>
                            <span th:if="${#fields.hasErrors('nospk')}" th:errors="*{nospk}">NO SPK Error</span>
                            <input type="text" class="form-control" id="nospk" th:field="*{nospk}" maxlength="50" required/>
                        </div>
                        <!--<div class="form-group">
                            <label for="spk">SPK</label>
                            <span th:if="${#fields.hasErrors('spk')}" th:errors="*{spk}">SPK Error</span>
                            <input type="text" class="form-control" id="spk" th:field="*{spk}" placeholder="Masukan link SPK: https://drive.google.com/file/spk.pdf" required/>
                        </div>-->
                        <div class="form-group">
                            <label for="spkFile">SPK</label>
                            <input id="spkFile" type="file" name="file" class="form-control-file" th:field="*{spkFile}" />
                        </div>
                        <div class="form-group">
                            <label for="harga">Harga</label>
                            <span th:if="${#fields.hasErrors('harga')}" th:errors="*{harga}">Harga Error</span>
                            <input type="number" class="form-control" id="harga" th:field="*{harga}" required/>
                        </div>
                        <div>
                            <button
                                    sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_TEKNIK')" type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" href="/project/list/" th:href="@{/project/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
