<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Projek Data</a>
                </li>
                <li class="breadcrumb-item active">Project List</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>


            <div class="card mb-3 pull-right">
                <div class="card-header">
                    <i class="fas fa-archive"></i>
                    Update Project
                </div>
                <div class="card-body">
                    <!-- Form Example -->
                    <form class="form-horizontal" th:object="${projectProgressUpdateForm}" method="post" enctype="multipart/form-data" >
                        <input type="hidden" class="form-control" id="id" th:field="*{id}" />
                        <div class="form-group">
                            <label for="noProject">No Project</label>
                            <span th:if="${#fields.hasErrors('noProject')}" th:errors="*{noProject}">No Project Error</span>
                            <input type="text" class="form-control" id="noProject" th:field="*{noProject}" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="title">Nama Project</label>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Nama Project Error</span>
                            <input type="text" class="form-control" id="title" th:field="*{title}" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="startDate">Tanggal Mulai</label>
                            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Tanggal Mulai Error</span>
                            <input type="date" class="form-control" id="startDate" th:field="*{startDate}" required/>
                        </div>
                        <div class="form-group">
                            <label for="endDate">Tanggal Akhir</label>
                            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Tanggal Akhir Error</span>
                            <input type="date" class="form-control" id="endDate" th:field="*{endDate}" required/>
                        </div>
                        <!--<div class="form-group">
                            <label for="docProject">DOC Project</label>
                            <span th:if="${#fields.hasErrors('docProject')}" th:errors="*{docProject}">DOC Project Error</span>
                            <input type="text" class="form-control" id="docProject" th:field="*{docProject}" placeholder="Masukan link DOC Project: https://drive.google.com/file/docproject.pdf" required/>
                        </div>
                        <div class="form-group">
                            <label for="bap">BAP</label>
                            <span th:if="${#fields.hasErrors('bap')}" th:errors="*{bap}">BAP Error</span>
                            <input type="text" class="form-control" id="bap" th:field="*{bap}" placeholder="Masukan link BAP: https://drive.google.com/file/bap.pdf" required/>
                        </div>-->
                        <div class="form-group">
                            <label for="docProjectFile">DOC Project</label>
                            <div th:if="${docName != null}" >
                                <a th:href="@{'/downloadfile?id=' + ${projectProgressUpdateForm.id} + '&name=DOC'}"><span th:text="${docName}"></span><i class="fa fa-download"></i></a>
                            </div>
                            <input id="docProjectFile" type="file" name="file" class="form-control-file" th:field="*{docProjectFile}" />
                        </div>
                        <div class="form-group">
                            <label for="bapFile">BAP</label>
                            <div th:if="${bapName != null}" >
                                <a th:href="@{'/downloadfile?id=' + ${projectProgressUpdateForm.id} + '&name=BAP'}"><span th:text="${bapName}"></span><i class="fa fa-download"></i></a>
                            </div>
                            <input id="bapFile" type="file" name="file" class="form-control-file" th:field="*{bapFile}" />
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</span>
                            <select class="form-control" name="status" id="status" th:field="*{status}">
                                <option th:each="project : ${projectStatus}" th:value="${project}" th:text="${project}">
                                </option>
                            </select>
                        </div>
                        <div>
                            <button
                                    sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_TEKNIK','ROLE_PELAKSANA')" type="submit" class="btn btn-primary mb-2">Submit</button>
                            <a class="btn btn-info mb-2" href="/project/progress/list/" th:href="@{/project/progress/list}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

</body>

</html>
