<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body id="page-top">

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid" layout:fragment="content">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Data Project</li>
            </ol>

            <!-- DataTables Example -->
            <div class="card mb-3 pull-right">
                <div class="card-header pull-right">
                    <div class="pull-right">
                        <a
                                sec:authorize="hasAnyRole('ROLE_SA','ROLE_MANAGER_TEKNIK')"
                                class="btn btn-success" th:href="@{/project/add}">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="projectList" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">No Project</th>
                                    <th class="text-center">Nama Project</th>
                                    <th class="text-center">Klien</th>
                                    <th class="text-center">Alamat</th>
                                    <th class="text-center">PIC</th>
                                    <th class="text-center">NO SPK</th>
                                    <th class="text-center">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>

<section layout:fragment="body-end">

    <script th:inline="javascript">
        var project_url_api = /*[[@{/api/project/list}]]*/ '';
        var project_url = /*[[@{/project}]]*/ '';
        var invoice_generate_url = /*[[@{/invoice/generate}]]*/ '';
        $(document).ready(function () {
            $('#projectList').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,
                'paging': true,
                'lengthChange': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "ajax": {

                    "url": project_url_api,
                    "type": "GET",
                    "contentType": "application/json",
                    "data": function (d) {
                        d.datatables = true;
                    }
                },
                "columns": [
                    {"data": "noProject", "defaultContent": ""},
                    {"data": "title", "defaultContent": ""},
                    {"data": "client", "defaultContent": ""},
                    {"data": "location", "defaultContent": ""},
                    {"data": "pic", "defaultContent": ""},
                    {"data": "nospk", "defaultContent": ""},
                    {"data": "id"}
                ],
                "columnDefs": [
                    {
                        "targets": 6,
                        "data": "id",
                        "mRender": function (data, type, row) {
                            html = "";

                            html += '<a class="btn btn-info" href="' + project_url + '/update/' + row.id + '"><i class="fas fa-edit"> </i></a>';
                            return html;
                        }
                    }

                ]
            });
        });
    </script>
</section>

</body>

</html>
